.cats {
  &__container {
    img {
      // width: 600px;
      height: auto;
      max-height: 100%;
      max-width: 100%;
      margin: auto;
      display: block;
    }
  }
  &__img {
    height: calc(100vh - 230px);
    max-height: 500px;
    min-height: 60px;
    overflow: hidden;
    text-align: center;
    @media (max-width:560px) {
      height: calc(100vh - 260px);
    }
    &__inner {
      position: relative;
      display: inline-block;
      width: 100%;
      button {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
      }
    }
  }
  &__buttons {
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }
  &__select {
    text-align: center;
    margin-bottom: 15px;
    select {
      width: 140px;
      height: 30px;
    }
  }
}
