.window {
  max-width: 300px;
  padding: 30px;
  margin: auto;
  &.open {
    // position: fixed;
    top: 5%;
    left: calc(50% - 150px);
    background: #fff;
    box-shadow: 1px 1px 10px;
  }
  &__title {
    text-align: center;
    font-style: 20px;
  }
  &__close {
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    height: 20px;
    background: #000;
    cursor: pointer;
  }
}
