* {
  box-sizing: border-box;
}

.list {
  margin: 20px 0;
  list-style: none;
  padding-left: 0;
}

.form * {
  display: block;
  margin: 10px auto;
  width: 300px;
  min-height: 40px;
  padding-left: 10px;
}

.form button {
  height: 50px;
  border: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

.form .item-add {
  background: green;
}
.form .item-edit-submit {
  display: none;
  background: #0064ff;
}
.form.state-edit .item-edit-submit {
  display: block;
}
.form.state-edit .item-add {
  display: none;
}

.list-item {
  line-height: 20px;
  font-size: 18px;
  padding: 10px;
  border: 1px solid #f5f5f5;
  border-width: 1px 0;
}

.list-item:nth-child(odd) {
  background: #f5f5f5;
}

.title-item {
  font-weight: 700;
  margin-right: 10px;
}

.title-item:after {
  content: ':';
}

.remove {
  height: 20px;
  display: inline-block;
  padding: 0 8px;
  margin-left: 15px;
  background: red;
  color: #fff;
  border-radius: 20px;
  font-size: 18px;
  line-height: 17px;
  text-align: center;
  vertical-align: bottom;
  cursor: pointer;
}

.edit {
  height: 20px;
  display: inline-block;
  padding: 0 8px;
  margin-left: 15px;
  background: green;
  color: #fff;
  border-radius: 20px;
  font-size: 18px;
  line-height: 17px;
  text-align: center;
  vertical-align: bottom;
  cursor: pointer;
}
